<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<th:block th:include="template.html :: headerfiles">  </th:block>	
</head>
<body>
	<div th:insert="template.html :: menu"> </div>
	
	<h1>Teams:</h1>
	
	<div class="container" th:each="instance:  ${teams}">
	
		<div class="h2 font-weight-bold" th:text="${instance?.naam}">nomor urut> </div>	
		
		<div class="row h3" th:each="coureurs, itrStat :  ${instance?.coureurs}">
			<div class="col-1" th:text="| ${itrStat.index + 1}. |">text</div>
			<div class="col-4" th:text="${coureurs?.key}">nomor urut</div>
			<div class="col-1" th:text="${coureurs?.value}">nomor urut</div>
		</div>
	</div>
	
	<div th:insert="template.html :: footer"> </div>
</body>
</html>